aiohttp==3.9.5
aiosignal==1.3.1
anyio==4.4.0
attrs==23.2.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dataclasses-json==0.6.7
distro==1.9.0
fastapi==0.110.3
frozenlist==1.4.1
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
iniconfig==2.0.0
Ionic-API-SDK==0.7.1
ionic-langchain==0.2.3
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
langchain==0.1.20
langchain-cli==0.0.25
langchain-community==0.0.38
langchain-core==0.1.52
langchain-openai==0.0.5
langchain-text-splitters==0.0.2
langchainhub==0.1.20
langserve==0.2.2
langsmith==0.1.81
libcst==1.4.0
markdown-it-py==3.0.0
marshmallow==3.21.3
mdurl==0.1.2
multidict==6.0.5
mypy-extensions==1.0.0
numpy==1.26.4
openai==1.35.3
orjson==3.10.5
packaging==23.2
pluggy==1.5.0
pydantic==1.10.17
Pygments==2.18.0
pyproject-toml==0.0.10
pytest==7.4.4
python-dateutil==2.9.0.post0
PyYAML==6.0.1
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
rich==13.7.1
rpds-py==0.18.1
setuptools==70.1.0
shellingham==1.5.4
-e git+https://github.com/ibarake/kymbo-sales.git@89f1fcacc79e16f57e30a9121cdf8cb30ab2e032#egg=shopping_assistant&subdirectory=packages/shopping-assistant
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
SQLAlchemy==2.0.31
sse-starlette==1.8.2
starlette==0.37.2
tenacity==8.4.1
tiktoken==0.5.2
toml==0.10.2
tomlkit==0.12.5
tqdm==4.66.4
typer==0.9.4
types-requests==2.32.0.20240622
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==2.2.2
uvicorn==0.23.2
wheel==0.43.0
yarl==1.9.4
